/* You can add custom styles here. */

$color-link: rgb(154, 159, 165) !default;
$color-visited-link:  rgb(100, 100, 100) !default;


a:hover {}
// @import "plugins/numbered";

dd {
    margin-bottom: 0.5em;
    text-indent: -0.5em;
}



dt {

}