/* nimbus-sans-300 italic - latin */
@font-face {
  font-family: 'nimbus-sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}
/* nimbus-sans-regular - latin */
@font-face {
  font-family: 'nimbus-sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
/* nimbus-sans-700 - latin */
@font-face {
  font-family: 'nimbus-sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* source-code-pro  mono-regular - latin */
@font-face {
  font-family: 'source-code-pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body {
  font-family: 'nimbus-sans', sans-serif;
}

code {
  font-family: 'source-code-pro', monospace;
}
